.portal-display {
    @apply text-black font-bold text-lg z-20
    fixed h-full w-4/5 rounded-xl text-center
    select-none flex flex-col justify-center items-center backdrop-blur-md;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    animation: pop-out;
    animation-duration: 450ms;
}

.portal-mask {
    @apply fixed left-0 top-0 w-full h-full bg-black opacity-0 z-10;
}

.image-display {
    @apply object-contain w-full rounded-xl;
    height: calc(100% - 48px);
}

.exif {
    @apply text-black text-sm h-4 w-full;
    line-height: 16px;
}

@keyframes pop-out {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}